* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(252, 251, 240);
  position: relative;
}

.navbar {
  background: darkslategray;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  width: 140px;
}

.navbar_links:hover {
  color: sandybrown;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1100px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0px;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
  }

  .navbar_links {
    text-align: center;
    padding: 0px;
    width: 100%;
  }

  .navbar_menu.active {
    background: #7e9e88;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: auto;
    font-size: 1.2rem;
  }

  #navbar_logo {
    margin-left: 50px;
  }

  #mobile_menu {
    position: relative;
    top: 10%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
  }
  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.main {
  padding: 6rem;
  text-align: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.main_container {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.about_content h1 {
  padding-top: 5rem;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.about_content p {
  text-align: center;
  word-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.edu_content h1 {
  padding-top: 5rem;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.edu_content p {
  text-align: center;
  word-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.emp_content h1 {
  padding-top: 5rem;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.emp_content p {
  text-align: center;
  word-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.hob_content h1 {
  padding-top: 5rem;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.hob_content p {
  text-align: center;
  word-spacing: 1px;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.images_header h1 {
  padding-top: 5rem;
  text-align: center;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.slide_show_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_show_content {
  width: 480px;
  height: 330px;
  box-shadow: 0 0 25px -3px black;
  margin-bottom: 20px;
}

.slide_show_content img {
  width: 100%;
  height: 100%;
}

.contact {
  text-align: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  /* margin-left: 43.5%; */
}

.contact h1 {
  padding-top: 5rem;
  color: rgb(190, 83, 83);
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#your_name,
#your_mail,
form textarea {
  padding: 20px;
  font-size: 1rem;
  background-color: rgb(241, 241, 241);
  margin-bottom: 20px;
  outline: none;
  border: none;
}

form button {
  font-size: 1.2rem;
  background-color: rgb(69, 160, 160);
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  outline: none;
  border: none;
}
